<section>
  <h1>Transfer</h1>
  <div>
    <!-- <span>{{ users | async }}</span> -->
    <label><span>From: </span>
      <select id="alexa">
        <option *ngFor="let user of users | async; index as i" value={{i}}>{{ user.name }}</option>
      </select>
    </label>
  </div>
  <div>
    <label><span>To: </span>
      <select id="billy">
        <option *ngFor="let user of users | async; index as i" value={{i}}>{{ user.name }}</option>
      </select>
    </label>
  </div>
  <div>
    <label><span>Amount: </span><input id="amount" type="number" value="12345" min="0" step="1" /></label>
  </div>
  <div><button id="submit">Submit</button></div>
</section>
<section id="logs">
  <h1>Logs</h1>
  <pre id="log"></pre>
</section>

<router-outlet></router-outlet>
